<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457412100000-kup3r158p8maggujeuprc4dlluk461nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457412100000-kup3r158p8maggujeuprc4dlluk461nh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457412100000-ossajonn695vqhgh2h01oqh75pbmbdkd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSHh0OxDT-jjWyN1-2srLTU3VdGV-M6cA</string>
	<key>GCM_SENDER_ID</key>
	<string>457412100000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Esi-sba.attendanceApp</string>
	<key>PROJECT_ID</key>
	<string>attendance-app-5ae47</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-app-5ae47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457412100000:ios:0d39680b551e29808eeec5</string>
</dict>
</plist>